body{
               font-family: Arial, Helvetica, sans-serif;
               margin: 0;
               padding: 0;              
}

.navbar{
               background-color:indigo;
               padding-left: 100px;
               padding-right: 100px;
               padding: 10px;
               display: flex;
               justify-content: space-between;
               align-items: center;            
}

#navbar-title{
               color: white;
               text-decoration: none;
               font-weight: bold;
               font-size: 25px;
               padding-left: 50px;
               
}

.nav_menu {
               display: flex;
               margin-right: 50px;
               color: rgb(218,214,214);
               
               
}

ul li {
               list-style-type: none;
               padding: 10px;
}
ul li a{
               color: white;
               text-decoration: none;
               
}
.hero{
               display: grid;
               grid-template-columns: 50% 50%;
}



.hero_title{
               padding: 100px;
               padding-top: 60px;              
}

.hero_title h1{
               font-size: 40px;
}

#services h2{
               text-align: center;
}

.services-container{
               grid-template-columns: 33% 33% 33%;
}

.services-container div{
               text-align: center;
               font-size: 20px;
               background-color: indigo;
               color: white;
               margin: 15px;
               padding: 20px;
               border-radius: 30px;
}
.services-container div p{
               font-size: 15px;
}

.grid{
               display: grid;
}

@media all and (max-width: 912px) { 
               .nav_menu {
                              display: flex;
                              flex-direction: column;
                              color: rgb(218,214,214);
                              
                              
               }

               #navbar-title,.hero_image{
                              display: none;
                              
               }

               .hero_title{
                              padding: 20px;
                              padding-top: 30px; 
                              text-align: center;             
               }
               
               .hero_title h1{
                              font-size: 25px;
               }

               
               

}

@media (min-width: 350px) and (max-width: 750px) { 
               
               .services-container div p{
                              font-size: 15px;
               }

               .services-container div{
                              text-align: center;
                              font-size: 15px;
                              background-color: indigo;
                              color: white;
                              margin: 5px;
                              padding: 5px;
                              border-radius: 30px;
                              height: 90%;
               }

               .hero_title{
                              padding: 20px;
                              padding-top: 30px; 
                              
                                        
               }

               .hero_title h1{
                              font-size: 20px;
               }

               .services-container{
                              grid-template-columns: 35% 35% 35%;
               }

}


